@font-face {
  font-family: 'MyFont';
  src: url('shrift.woff2') format('woff2');
  /* добавьте дополнительные форматы, если они есть */
}



body {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 120%;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
  background-color: rgb(208, 208, 208);
}

body {
  opacity: 0; /* устанавливаем элементу нулевую прозрачность */
  animation: fade-in 0.3s ease-in-out 0.3s forwards; /* добавляем анимацию с задержкой в 2 секунды */
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px; /* задаем высоту блока */
  background-color: rgba(0, 0, 0, 0.244); /* задаем цвет фона блока */
}

/* Текст на странице */

p {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  line-height: 1.5;
}

.text {
  text-align: center;
}

.contacts {
  text-align: center;
}

.personal {
  margin-top: 100px;
  font-size: 21px;
}



/* Меню и заголовок */

@media (min-width: 1000px) {  
  .header {
    font-size: 100%;
    letter-spacing: 1.5px;
    display: flex;
    font-family: 'MyFont', sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 1.4%;
    position: fixed; /* фиксация меню */
    width: 90%;
    margin-bottom: 30px;
    top: 0;
    margin-top: 10px;
    background-color: rgba(208, 208, 208, 0.902);
    z-index: 1; /* фиксация меню поверх другого контента */
  }

  img:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }

  /* Стиль для активного пункта меню */
  .slash {
    border-bottom: 2px solid grey;
  }

  nav a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
  }

  nav a:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  /* Карточки */

  .main-content {
    display: flex;
    margin: 30px;
    margin-top: 70px;
  }

  .main-content img {
    width: 100%;
  }

  .left-column {
    flex: 1;
    margin: 20px;
  }

  .left-column p {
    margin-bottom: 30px;
  }

  .left-column h2 {
    margin-bottom: 10px;
  }

  .right-column {
    flex: 1;
    margin: 20px;
  }

  .right-column p {
    margin-bottom: 30px;
  }

  .right-column h2 {
    margin-bottom: 10px;
  }

  /* Текст на странице */

  p {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    line-height: 1.5;
  }

  .text {
    text-align: center;
  }

  .contacts {
    text-align: center;
  }

  .personal {
    margin-top: 100px;
    font-size: 21px;
  }

  img {
    transition: all 0.5s ease-in-out;
  }
}

.hamburger img {
  display: none;
}

.header h1 {
  margin: 0;
  font-size: 30px;
  font-family: 'MyFont', sans-serif;
  letter-spacing: 2px;
  
}

nav li {
  margin-left: 20px;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

nav li:last-child {
  margin-right: 0;
}











/* Картинки */

img {
  position: relative;
  width: 30%;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}

.container {
  display: flex;
}

.personal-container {
  flex: 1;
  text-align: left;
  margin: 30px;
}

.personal-img {
  width: 80%;
  filter: grayscale(100%);
}

.personal-container-right {
  flex: 1;

}

/* добавить все ниже */

/* body {
  font-size: 20px;
} */

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fade-out 1s ease-out forwards;
  animation-delay: 2s;
}

.loading-overlay h1 {
  color: white;
  font-family: 'MyFont', sans-serif;
  font-size: 3rem;
  text-align: center;
  opacity: 0;
  animation: fade-in-out 2s ease-in-out forwards;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
  }
}
  


/* Гамбургер */

@media (min-width: 1000px) {  
  
  .header button {
    display: none;
  }

  .menu {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
  }
}

/* стили для меню на мобильных устройствах */











